.product {
  position: relative;

  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);

    .buyFade {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h3, h4 {
    margin-top: 0.5rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 0.9rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .buyFade {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    top: 0;
    height: 280px;
    width: 100%;
  }
}
