<div class="content-container">
  <header class="border-bottom p-1">
    <app-logo></app-logo>
    <div class="search border">
      <form>
        <select class="border-right">
          <option value="man">Man</option>
          <option value="woman">Woman</option>
          <option value="kids">Kids</option>
        </select>
        <input type="text" placeholder="Search for items ..." class="border-right">
        <button class="btn btn-light">Search</button>
      </form>
    </div>
    <div class="account">
      <a routerLink="/cart"><img src="/assets/images/cart.png" alt="cart"></a>
      <div class="buttons" *ngIf="!auth.isAuth(); else logoutBtn">
        <button class="btn" (click)="modalService.showModal('login')">Sign In</button>
      </div>
      <ng-template #logoutBtn>
        <div class="buttons">
          <button class="btn" [routerLink]="'account'">My account</button>
          <button class="btn" (click)="logout()">Sign Out</button>
        </div>
      </ng-template>
      </div>
  </header>
</div>


