form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;

  .errors {
    font-size: .8rem;
    text-align: center;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;

    input {
      margin-bottom: .5rem;
      border: 1px solid var(--secondary-color);
    }

    label {
      font-size: .8rem;
    }

    .validation {
      font-size: .7rem;
    }

    &.error {
      color: var(--primary-color);

      input {
        border: 1px solid var(--primary-color);
      }
    }
  }
}