<app-breadcrumbs></app-breadcrumbs>

<div class="content-container">
  <div class="checkout-card border-bottom p-3">
    <h3>01. SHIPPING ADDRESS</h3>
    <div class="content">
      <div>
        <h4>Check as a guest or register</h4>
        <p>Register with us for future convenience</p>
        <form>
          <div>
            <input type="radio" id="guest" name="checkoutRadio">
            <label for="guest">CHECKOUT AS GUEST</label>
          </div>
          <div>
            <input type="radio" id="toRegister" name="checkoutRadio" checked>
            <label for="toRegister">REGISTER</label>
          </div>
          <h4>REGISTER AND SAVE TIME!</h4>
          <p>Register with us for future convenience</p>
          <p>Fast and easy checkout</p>
          <p>Easy access to your order history and status</p>
          <button class="btn btn-light">CONTINUE</button>
        </form>
      </div>
      <div>
        <h4>Already registered?</h4>
        <p>Please log in below</p>
        <form>
          <h4>EMAIL ADDRESS<span> *</span></h4>
          <input type="email">
          <h4>PASSWORD<span> *</span></h4>
          <input type="password">
          <p><span>* Required Fields</span></p>
            <button class="btn btn-light">LOG IN</button>
        </form>
      </div>
    </div>
  </div>
</div>
