.promo-unit {
  padding: 30px 30px 30px 110px;

  &:first-child {
    background: url("/assets/images/offerDetails1.png") no-repeat 36px 30px;
  }

  &:nth-child(2) {
    background: url("/assets/images/offerDetails2.png") no-repeat 36px 30px;
  }

  &:last-child {
    background: url("/assets/images/offerDetails3.png") no-repeat 36px 30px;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .details {
    line-height: 24px;
    margin-top: 15px;
    text-align: justify;
  }
}
