<footer>
  <div class="footer-banner">
    <div class="content">
      <app-comment-card></app-comment-card>
    </div>
    <div class="divider bg-light"></div>
    <div class="content">
      <div class="label">
        <h3>SUBSCRIBE</h3>
        <h4>FOR OUR NEWSLETTER AND PROMOTION</h4>
      </div>
      <form>
        <input class="p-05 bg-light" type="email" placeholder="Enter email">
        <button class="btn btn-primary p-05">Submit</button>
      </form>
    </div>
  </div>
  <div class="content-container container">
    <div class="information">
      <app-logo></app-logo>
      <p class="text-secondary">
        Objectively transition extensive data rather than cross functional solutions.
        Monotonectally
        syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an
        expanded array of processes and cross-unit partnerships.
      </p>
      <p class="text-secondary">
        Efficiently plagiarize 24/365 action items and focused infomediaries.
        Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
      </p>
    </div>
    <div class="content">
      <app-footer-links></app-footer-links>
      <app-footer-links></app-footer-links>
      <app-footer-links></app-footer-links>
    </div>
  </div>
  <div class="copyright bg-light">
    <div class="content-container p-1 text-secondary">
      <div>
        &copy; 2021 Brand All Rights Reserved.
      </div>
      <div class="links p-1">
        <a href="#"><img src="/assets/images/facebook.png" alt="facebook"></a>
        <a href="#"><img src="/assets/images/twitter.png" alt="twitter"></a>
        <a href="#"><img src="/assets/images/linkedin.png" alt="linkedin"></a>
        <a href="#"><img src="/assets/images/pinterest.png" alt="pinterest"></a>
        <a href="#"><img src="/assets/images/googleplus.png" alt="google"></a>
      </div>
    </div>
  </div>
</footer>


