<app-breadcrumbs></app-breadcrumbs>

<div *ngIf="product; else loading">
  <div class="banner-wrapper bg-light">
    <div class="banner-content">
      <img [src]="product.link[0]" alt="product">
    </div>
  </div>
  <div class="content-container">
    <div class="product border p-3">
      <div class="info">
        <h4 class="text-primary">{{product.category[0]}} collection</h4>
        <h3>{{product.name}}</h3>
        <p class="text-secondary">{{product.description}}</p>
        <div class="extra">
          <p class="text-secondary">material: <span class="text-dark">{{product.material}}</span></p>
          <p class="text-secondary">designer: <span class="text-dark">{{product.designer}}</span></p>
        </div>
        <h3 class="text-primary">$ {{product.price}}</h3>
      </div>
      <div class="divider bg-light"></div>
      <div class="form">
        <div class="selectors p-1">
          <div>
            <label for="color">Choose color</label>
            <select id="color" class="border">
              <option *ngFor="let color of product.color">{{color}}</option>
            </select>
          </div>
          <div>
            <label for="size">Choose size</label>
            <select id="size" class="border">
              <option *ngFor="let size of product.size">{{size}}</option>
            </select>
          </div>
          <div>
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" placeholder="1" class="border">
          </div>
        </div>
        <div>
          <button class="btn btn-primary p-1">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>Loading ...</ng-template>

<app-feature
  title="You may also like"
></app-feature>
