<app-breadcrumbs></app-breadcrumbs>
<div class="content-container p-3" *ngIf="cart.length">
  <div class="cart">
    <div class="heading border-bottom p-05">
      <div>PRODUCT DETAILS</div>
      <div>UNIT PRICE</div>
      <div>QUANTITY</div>
      <div>SHIPPING</div>
      <div>SUBTOTAL</div>
      <div>ACTION</div>
    </div>
    <div
      class="content text-secondary p-05 border-bottom"
      *ngFor="let item of cart"
    >
      <div class="product-card p-1">
        <img [src]="item.link[0]" alt="{{item.name}}">
        <div>
          <h4 class="text-dark">{{item.name}}</h4>
          <p>
            Color: {{item.color}}<br>
            Size: {{item.size}}
          </p>
        </div>
      </div>
      <div class="col-md-2">$ {{item.price}}</div>
      <div class="col-md-2">{{item.quantity}} pcs.</div>
      <div class="col-md-1">free</div>
      <div class="col-md-2">$ {{(item.quantity * +item.price) | number:'.0-2'}}</div>
      <div class="col-md-1">
        <button (click)="addProduct(item)">+</button>
        <button (click)="removeProduct(item)">-</button>
      </div>
    </div>
  </div>
  <div class="controls p-1">
    <button
      class="btn btn-light"
      (click)="clearCart()"
    >CLEAR CART</button>
    <button
      class="btn btn-light"
      [routerLink]="['', 'catalog', 'featured']"
    >CONTINUE SHOPPING</button>
  </div>
  <div class="total p-1">
    <div class="bg-light p-3">
      <h4>GRAND TOTAL <span class="text-primary">$ {{totalPrice | number:'.0-2'}}</span></h4>
      <a routerLink="/checkout">
        <button class="btn">PROCEED TO CHECKOUT</button>
      </a>
    </div>
  </div>
</div>
