.links {
  h4 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 1.1rem;
  }

  ul {
    list-style-type: none;

    li {
      margin-top: 1rem;

      a {
        outline: none;
        text-decoration: none;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}
