.catalog-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr auto min-content;
  grid-gap: 1vw;
  grid-template-areas:
  "sidebar filters"
  "sidebar products"
  "sidebar pagination";

  .sidebar {
    grid-area: sidebar;
  }

  .products {
    grid-area: products;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.promo {
  app-promo {
    display: flex;
  }

  @media (max-width: 768px) {
    padding: 0;

    app-promo {
      flex-wrap: wrap;
    }
  }
}
