<app-breadcrumbs></app-breadcrumbs>
<div class="catalog-container p-3" *ngIf="products">
  <div class="sidebar">
    <app-sidebar [items]="products | sidebar:'subcategory':'designer'"></app-sidebar>
  </div>
  <app-filters
    [filters]="products | filters:'color':'size':'price'"
    (applyFilters)="onFiltersChange($event)"
  ></app-filters>
  <div class="products p-1">
    <app-product-card
      *ngFor="let product of filteredProducts | pagination:currentPage:pageSize:sortBy"
      [product]="product"
    ></app-product-card>
  </div>
  <app-pagination
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    [currentPage]="currentPage"
    (changePageHandler)="onPageChange($event)"
  ></app-pagination>
</div>
<div class="promo bg-dark text-light p-3">
  <app-promo></app-promo>
</div>
