@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #f16d7f;
  --secondary-color: #a4a4a4;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  padding: 0.5rem;
  outline: none;
  border: none;
  color: var(--secondary-color);
  font-size: 0.8rem;
  background: none;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background: var(--secondary-color);
    color: var(--dark-color);
  }

  &:hover {
    opacity: 0.8;
  }

  &-light {
    background: none;
    color: var(--secondary-color);
    border: 1px solid var(--light-color);
  }

  &-transparent {
    background: none;
    color: var(--light-color);
    border: 1px solid var(--dark-color);
  }
}

.text {
  &-primary {
    color: var(--primary-color);
  }
  &-secondary {
    color: var(--secondary-color);
  }
  &-dark {
    color: var(--dark-color);
  }
  &-light {
    color: var(--light-color);
  }
}

.bg {
  &-dark {
    background-color: var(--dark-color);
  }
  &-light {
    background-color: var(--light-color);
  }
}

.border {
  border: 1px solid var(--light-color);

  &-secondary {
    border-color: var(--secondary-color);
  }
}

.border-bottom {
  border-bottom: 1px solid var(--light-color);
}

.border-right {
  border-right: 1px solid var(--light-color);
}

.p-1 {
  padding: 1rem;
}

.p-05 {
  padding: 0.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .errors {
    font-size: .8rem;
    text-align: center;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;

    input {
      margin-bottom: .5rem;
      border: 1px solid var(--secondary-color);
    }

    label {
      font-size: .8rem;
    }

    .validation {
      font-size: .7rem;
    }

    &.error {
      color: var(--primary-color);

      input {
        border: 1px solid var(--primary-color);
      }
    }
  }
}