<div *ngIf="user" class="container cabinet">
  <div class="userInfo">
    <h4>user info</h4>
    <!-- <img :src="user.link" alt="user_avatar"> -->
    <p>First name: <span>{{user.firstName}}</span></p>
    <p>Last name: <span>{{user.lastName}}</span></p>
    <button class="btn btn-light">CHANGE</button>
  </div>
  <div class="addReview">
    <h4>add review</h4>
    <form [formGroup]="reviewForm" (ngSubmit)="addReview()">
      <div [ngClass]="{error: reviewForm.get('text').touched && reviewForm.get('text').invalid}" class="form-control">
        <label for="text">Review text</label>
        <input type="text" id="text" formControlName="text">
        <div *ngIf="reviewForm.get('text').touched && reviewForm.get('text').invalid" class="validation">
          <small *ngIf="reviewForm.get('text').errors.required">Required Field</small>
          <small *ngIf="reviewForm.get('text').errors.minlength">Minimal length 10 symbols</small>
        </div>
      </div>
      <button type="submit" class="btn btn-light">Submit</button>
    </form>
  </div>
  <div class="orders">
    <h4>user orders</h4>
  </div>
  <div class="reviews">
    <h4>user reviews</h4>
    <div class="review" *ngFor="let review of reviews">
      <div>Author: {{ review.author_id }}</div>
      <div>Text: {{ review.text }}</div>
      <div (click)="removeReview(review.id)">&times;</div>
    </div>
  </div>
</div>